 

<div class="filter">    
      <input type="text" placeholder="Type"  [(ngModel)]="filter.year"   (ngModelChange)="filterChanged() "  >
      <div class="parent">
        <div class="child">
            <div  *ngIf="loading">          
                    <a >loading...</a>                        
            </div>
            <div  *ngIf="!loading">
                    <div *ngFor="let item of availableYearsFiltered;let i = index" (click)="getSingleYear(i)" ><a >{{item}}</a></div>       
            </div>
        </div>
    </div>
     
</div>
   


<app-driver-standings></app-driver-standings>