 

<div class="filter">    
      <input type="text" placeholder="Type year"  [(ngModel)]="filter.year"   (ngModelChange)="filterChanged() "  >
      <div class="parent">
        <div  *ngIf="loading">
            <div class="child" >          
                    <a >loading...</a>                        
            </div>
        </div>
        <div class="child" *ngIf="!loading && availableYearsFiltered.length > 0">    
            <div  >
                    <div *ngFor="let item of availableYearsFiltered;let i = index" (click)="getSingleYear(i)" ><a >{{item}}</a></div>       
            </div>
        </div>
    </div>
     
</div>
   


<app-driver-standings></app-driver-standings>